table.exhibition {
	border: 1px solid #CCC;
}

table.exhibition thead tr th, {
  font-weight: bold;
  text-align: center;
}

table.exhibition tr {
  border: 1px solid black;
}

table.exhibition td {
  width: 200px;
}

table.exhibition td:first-child {
	width: 20px;
}

table.exhibition tr:last-child  {
  border-bottom: none;
}

.exhibition_odd   {
  background: #FFF;
}

.exhibition_even   {
  background: #FFC;
}

table.exhibition .first {
  background: #ffffaa;	
}

table.exhibition .second {
  background: #eeeeee; 
}

table.exhibition .third {
 background: #ffdd66; 
}

table.exhibition .other {
  background: #CCC; 
}

canvas {
	background: white;
}