body {
	height: 100%;
	margin: 5px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: black;
}

iframe#mainframe {
	width: 100%;
	height: 600px;
	border: 1px dashed #CCC;
	padding: 10px;
}

div#waiting {
  z-index: 10000;
  filter: alpha(opacity=50); /*older IE*/
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
  -moz-opacity: .50; /*older Mozilla*/
  -khtml-opacity: 0.5;   /*older Safari*/
  opacity: 0.5;   /*supported by current Mozilla, Safari, and Opera*/
  background-color:#000000;
  position:fixed; 
	top:0px; left:0px; width:100%; height:100%; 
	color:#FFFFFF; 
	text-align:center; 
	vertical-align:middle;
	font-weight: bold;
	padding: 20px;
}

div#gn_header {
	width: 90%;
  padding: 10px;
  color: black;
  border: 1px dashed #CCC;
}

canvas {
	border: 1px #CCC solid;
}
label {
	display: block;
	float: left;
	min-width: 200px;
}
input[type="range"] {
	margin-bottom: 5px;
	margin-left: 5px
}

fieldset#visualtimer_fieldset {
	float: right;
	width: 80px;
	border: 5px solid black;
}

div#visualtimer_div {
  width: 80px;
	font-size: 16px;
}

fieldset#visualstate_fieldset {
	float: left;
  width: 200px;
  border: 5px solid black;
}

div#VisualState_div {
  width: 200px;
  font-size: 16px;
}



dl#all_ex {
	border: 1px solid #CCC;
	font-weight: bold;
	padding: 5px;
	padding-top: 10px;
}

dl#all_ex dt {
  background: #CCC;
}

dl#all_ex dd {
  background: #FFF;
	margin-left: 10px;
	font-weight: normal;
}

table#create_sub_his {
  border: 1px solid #CCC;
  vertical-align: top;
}

table#create_sub_his td{
  border: 1px solid #CCC;
  vertical-align: top;
}

/* General nodeGame */

.strong {
	font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.strike {
	text-decoration: line-through;
}
