.project
.settings
.idea
Session.vim

/tests/
/examples/test/*

*.tar.gz
*.tmp*
*.csv
*.swp
.DS_Store
\#*\#
.\#*
*~
*.nddb
_*
LOG

npm-debug.log
node_modules/
node_modules_old

descil.conf.js

imgscore

log/*.log


games_available/ultimatum-game
games_available/dictator
games_available/meritocracy
games_available/ultimatum
games_available/stopgo
games_available/artex
games_available/MiniSvo
games_available/car-sharing
games_available/DCL
games_available/rules
games_available/prisonersgame
games_available/testergame

games/ultimatum-game
games/testergame
games/dictator
games/meritocracy
games/ultimatum
games/stopgo
games/artex
games/MiniSvo
games/car-sharing
games/DCL
games/rules
games/prisonersgame

games_new/
start/

bin/nodegame

manifest.yml

private
