.project
.settings

/tests/
/server
/examples/test/*
/stuff/f
/log
/client/releases/*
jquery

/log/

*.tmp*
*.csv
*.swp
.DS_Store
\#*\#
*~
*.nddb
_*

npm-debug.log
node_modules/

node_modules_old

/nodegame_clients/pr.js
/nodegame_clients/node_modules/peerreview/
pr_server.js
/games/PR
/games/TEST
/games/PR2/
/games/PR3/
/games/PR4/
