.project
.settings
.idea

/tests/
/server
/examples/test/*
/stuff/f
/log
/client/releases/*
jquery

/log/

*.tmp*
*.csv
*.swp
.DS_Store
\#*\#
.\#*
*~
*.nddb
_*

npm-debug.log
node_modules/

node_modules_old

/nodegame_clients/pr.js
/nodegame_clients/node_modules/peerreview/
pr_server.js

/games/PR
/games/TEST
/games/PR2/
/games/PR3/
/games/PR4/

/games/facerank/
/games/ultiturk/
/games/ultimatum*
/games/mygame/
/games/trustgame/
/game

Session.vim


descil.conf.js

games_new/
games_new/ultimatum*
games_new/burden*
games_new/meritocracy
games_new/facecat
games_new/imagecat
games_new/facerank

start/server.js
start/server-pairs.js
start/burden-server.js
start/meritocracy-server.js
start/server.js
start/catserver.js
start/rankserver.js
start/server-pairs.js
start/trustgame-server.js

*.tar.gz

games/trustgame/
start/trustgame-server.js


log/messages
log/clients
log/servernode
log/channel
log/channels
