body {
	height: 100%;
	//border: 1px solid black;
	margin: 5px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: black;
}

iframe#mainframe {
	width: 90%;
	height: 500px;
	border: 1px dashed #CCC;
	padding: 10px;
	margin: 5px;
}

div#waiting {
  z-index: 10000;
  filter: alpha(opacity=50); /*older IE*/
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
  -moz-opacity: .50; /*older Mozilla*/
  -khtml-opacity: 0.5;   /*older Safari*/
  opacity: 0.5;   /*supported by current Mozilla, Safari, and Opera*/
  background-color:#000000;
  position:fixed; 
	top:0px; left:0px; width:100%; height:100%; 
	color:#FFFFFF; 
	text-align:center; 
	vertical-align:middle;
	font-weight: bold;
	padding: 20px;
}

div#header {
	padding: 5px;
	color: black;
	border: 1px solid black;
}
