/* facecat table */

table#facecat_table {
    border: 3px solid #CCC;
    border-spacing: 0;
    margin: auto;
    font: "Arial, Verdana, Sans";
}

table#facecat_table td {
    /* width: 306px; */
    padding: 20px;
    padding-top: 0;
    background: #DADCCB;
    margin: auto;
}

table#facecat_table td#td_face {
    text-align: center;
}

table#facecat_table td#taskDescription {
    padding-top: 20px;
}


/* other */

input.tag {
    margin-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    width: 98%;
    border: 3px solid #CCC;
    font-size: 14px;
}

img.face {
    width: 300px;
    border: 3px solid #CCC;
    margin: auto;
    margin-top: 20px;
    background: white;
}


ul {
    margin: 10px;
}

dl#helpCatsDl dt {
    font-weight: bold;
}

dl#dlcat dt {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}

dl#dlcat dt:hover {
    cursor: pointer;
    font-weight: bold;
    background: #FFD;
}


div#container_done {
    height: 100px;
    width: 98%;
    border: 0;
    padding:0;
    padding-top: 300px;
    background: white;
}

ul#previousTags li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}

ul#previousTags li:hover {
    text-decoration: underline;
    cursor: pointer;
}